
{% extends 'base.html' %}
{% load static %}
{% block head_title %}Eshooper | Contact Us{% endblock %}
{% block style %}

<style>
.end {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        background: rgba(0, 0, 0,.5);
        
    }  

</style>

{% endblock %}
{% block content %}

    <!-- Page Header End -->
    <div class="container-fluid py-3" style="background-color: #f2f3f5;">
        <div class="d-flex flex-column align-items-center justify-content-center py-5" style="min-height: 80px">
            <h2 class="section-title pt-1 font-weight-medium"><span class="px-2 font-weight-medium" style="background-color: #f2f3f5;">
                Contact Us</span></h2>
            <div class="text-center" style="width:100%">
                <span class="m-0 font-weight " style="background-color: #f2f3f5;"><a href="/">Home</a></span>
                <span class="m-0 px-2 " style="background-color: #f2f3f5;">-</span>
                <span class="m-0 font-weight " style="background-color: #f2f3f5;">Contact</span>
            </div>
        </div>
    </div>


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title "><span class="px-2">Contact For Any Queries</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="" >
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Your Name"
                                required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Your Email"
                                required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject"
                                required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" rows="6" id="message" placeholder="Message"
                                required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send
                                Message</button>
                        </div>



                        <div class="end" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title text-success" id="exampleModalLabel">Submission Successful</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  We just received your inquiry. we'll get back to you about your order as soon as possible. For your records, your support ticket number is #GS-2455. include it in any future correspondence you might send.
                                </div>
                                <div class="modal-footer">
                                  
                                <a href="{% url 'core:home' %}"><button type="button" class="btn btn-info">Back home</button></a>  
                                </div>
                              </div>
                            </div>
                          </div>



                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
                <p>Get in touch with us if you have an question or issue with your order. We will try to get back to you as soon as we can</p>
                <div class="d-flex flex-column">
                    <h5 class="font-weight-semi-bold mb-3">Head quarters</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Bärensteiner Str. 30, 01277 Germany</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@eshopper.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>Phone 0049 (0) 351 469 256 55</p>
                </div>
            </div>

        </div>
    </div>
    <!-- Contact End -->
    {% endblock %}



