{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block scroll %}
<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-fluid"
                src="https://cdn.shopify.com/s/files/1/0263/8394/1731/files/rose-banner.jpg?v=1682342654" alt="Image"
                style="width: 100%">
        </div>
        <div class="carousel-item">
            <img class="img-fluid"
                src="https://cdn.shopify.com/s/files/1/0263/8394/1731/files/rose-banner.jpg?v=1682342654" alt="Image"
                style="width: 100%;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>
{% endblock %}
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{ totalRedWine }} Products</p>
                <a href="red-wine/" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid mx-auto d-block"
                        src="https://cdn.shopify.com/s/files/1/0263/8394/1731/files/Red_Wine.png?v=1613787129" alt=""
                        style="height: 300px; width: auto;">
                </a>
                <h5 class="font-weight-semi-bold m-0">Red Wine's</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{totalWhiteWine}} Products</p>
                <a href="white-wine/" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid mx-auto d-block"
                        src="https://cdn.shopify.com/s/files/1/0263/8394/1731/files/Untitled-3.png?v=1613787130" alt=""
                        style="height: 300px; width: auto;">
                </a>
                <h5 class="font-weight-semi-bold m-0">White Wine's</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{SparklingWine}} Products</p>
                <a href="sparkling-wine/" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid mx-auto d-block"
                        src="https://cdn.shopify.com/s/files/1/0263/8394/1731/files/Champagne.png?v=1613787139" alt=""
                        style="height: 300px; width: auto;">
                </a>
                <h5 class="font-weight-semi-bold m-0">Sparkling Wine</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{ totalSpirits }} Products</p>
                <a href="spirits/" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid mx-auto d-block"
                        src="https://cdn.shopify.com/s/files/1/0263/8394/1731/files/Spirits.png?v=1613787139" alt=""
                        style="height: 300px; width: auto;">
                </a>
                <h5 class="font-weight-semi-bold m-0">Spirits</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{ totalRoseWine }} Products</p>
                <a href="rose-wine/" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid mx-auto d-block"
                        src="https://cdn.shopify.com/s/files/1/0263/8394/1731/products/wwc381001---taittinger-brut-prestige-rose-with-presentation-box_large.png?v=1579877987"
                        alt="" style="height: 300px; width: auto;">
                </a>
                <h5 class="font-weight-semi-bold m-0">Rose wine</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{ totalWhisky }} Products</p>
                <a href="whisky/" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid mx-auto d-block"
                        src="https://cdn.shopify.com/s/files/1/0263/8394/1731/products/1CLYNELISHSELRESEMALT56820_1024x1024.png?v=1652362407V"
                        alt="" style="height: 300px; width: auto;">
                </a>
                <h5 class="font-weight-semi-bold m-0">Whisky</h5>
            </div>
        </div>
    </div>
</div>



<!-- 
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Spiriit</span></h2>
    </div>

    <div class="container" style="font-family: 'Lato', sans-serif;">
        <div class="row text-center h-100">
            {% for item in object_list %}
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card border" style="border-color: #e8e8e8; border-radius: 2px; margin-bottom: 30px;">
                    <a href="{{ item.get_absolute_url }}"><img class="card-img-top"
                            src="{% static 'img/product-1.jpg' %}">
                        <div class="card p-1" style="background-color: #edf1ff">
                            <strong>
                                <p class="card-text-center pt-4"
                                    style="color: #d19c97; font-size: 600; line-height:21px;">
                                    {{ item.title }}</p>
                            </strong>
                            <strong>
                                <p class="card-title-center" style="color: #d19c97">${{ item.price }}
                                </p>
                            </strong>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

     -->

     <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Spirits</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for item in items|slice:":10" %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1" name="page">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-3 text-center">
                        <img class="img-fluid" src="{{ item.photo }}" style="height:250px; width:auto;"  alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{ item.title }}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{ item.price }}</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{{ item.get_absolute_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View
                            Detail</a>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-sm text-dark p-0"><i
                                class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <center>
       <a href="red-wine/" class="text-decoration-none"><div class="text-center rounded border border-primary p-3 text-primary" style="font-size:18px; max-width: 460px;">View more</div></a>
    </center>
    </div>


<!-- Subscribe Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                <p>Get the wine view. Latest wines, latest offers, latest news about the world of wines and spirits. Every month you will be the first to know &about interesting wines and winemakers. .</p>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Subscribe End -->


<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Just Arrive</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for item in item %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1" name="page">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-3 text-center">
                    <img class="img-fluid" src="{{ item.photo }}" style="height:250px; width:auto;"  alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{ item.title }}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>${{ item.price }}</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="{{ item.get_absolute_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View
                        Detail</a>
                    <a href="{{ item.get_add_to_cart_url }}" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <center>
   <a href="red-wine/" class="text-decoration-none"><div class="text-center rounded border border-primary p-3 text-primary" style="font-size:18px; max-width: 460px;">View more</div></a>
</center>
</div>


<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="{% static 'img/vendor-1.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'img/vendor-2.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'img/vendor-3.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'img/vendor-4.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'img/vendor-5.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'img/vendor-6.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'img/vendor-7.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'img/vendor-8.jpg'  %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->

{% endblock %}